/bundle/.bundle/
/bundle/Auto-Pairs/
/bundle/Better-Javascript-Indentation/
/bundle/CaptureClipboard/
/bundle/command-t/
/bundle/CoVim/
/bundle/ctrlp-funky/
/bundle/ctrlp-modified.vim/
/bundle/ctrlp.vim/
/bundle/djangojump/
/bundle/Django-Projects/
/bundle/django_templates.vim/
/bundle/FuzzyFinder/
/bundle/indentLine/
/bundle/JavaScript-Indent/
/bundle/Javascript-Indentation/
/bundle/Javascript-OmniCompletion-with-YUI-and-j/
/bundle/javascript.vim/
/bundle/jsbeautify/
/bundle/jslint.vim/
/bundle/L9/
/bundle/last_edit_marker.vim/
/bundle/OOP-javascript-indentation/
/bundle/phpcomplete.vim/
/bundle/PHP-correct-Indenting/
/bundle/phpcs.vim/
/bundle/php_funcinfo.vim/
/bundle/php.vim/
/bundle/php.vim-for-php5/
/bundle/python-imports.vim/
/bundle/Python-mode-klen/
/bundle/sparkup/
/bundle/SQLComplete.vim/
/bundle/synmark.vim/
/bundle/syntastic/
/bundle/The-NERD-Commenter/
/bundle/vim-easymotion/
/bundle/vim-fugitive/
/bundle/vim-indent-guides/
/bundle/vim-javascript/
/bundle/vim-rails/
/bundle/Vim-Script-Updater/
/bundle/YouCompleteMe/


